body {
  background-color: #232f3e;
  color: #ffffff;
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


/* Setting sizes for the image */
/* Desktops, large screens */
@media (min-width: 1025px) {
  .sbs {height: 300px;}
}

/* Small screens, laptops */
@media (max-width: 1024px) {
  .sbs {height: 450px;}
}


  


